body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.nav-bar{
    border: none;
    padding: 15px 20px;
    font-size: large;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #3B7AA6;
}

.nav-bar a{
    color: white;
    text-decoration: none;
}

.nav-bar a:hover{
    text-decoration: none;
}

.toggle-btn{
    border: 1px solid black;
    background: white;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}

.main-wrapper{
    display: flex;
}

.side-bar{
    width: 200px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    transition: width 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 539px;
    background-color: #3B7AA6;
    color: white;
    
}

.side-bar h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.side-bar a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.side-bar a:hover{
    text-decoration: none;
}

.side-bar.closed{
    transform: translateX(-100%);
}

.content{
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-right: none;
}

.footer{
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    background-color: #3B7AA6;
    color: white;
    
}
.footer p{
    margin: 0;
}