body{
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica, sans-serif;
  box-sizing: border-box;
}



/* Padding */
.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 10px;
}
.p-3 {
  padding: 18px;
}
.p-4 {
  padding: 20px;
}
/* padding-left */
.pl-1 {
  padding-left: 5px;
}
.pl-2 {
  padding-left: 10px;
}
.pl-3 {
  padding-left: 15px;
}
.pl-4 {
  padding-left: 20px;
}
.pl-6 {
  padding-left: 100px;
}
.pl-7 {
  padding-left: 70px;
}
/*padding-right*/
.pr-1 {
  padding-right: 5px;
}
.pr-2 {
  padding-right: 10px;
}
.pr-3 {
  padding-right: 15px;
}
.pr-4 {
  padding-right: 20px;
}

/* padding-top */
.pt-1 {
  padding-top: 5px;
}
.pt-2 {
  padding-top: 10px;
}
.pt-3 {
  padding-top: 15px;
}
.pt-4 {
  padding-top: 20px;
}
.pt-7 {
  padding-top: 100px;
}
/* padding-bottom*/
.pb-1 {
  padding-bottom: 5px;
}
.pb-2 {
  padding-bottom: 10px;
}
.pb-3 {
  padding-bottom: 15px;
}
.pb-4 {
  padding-bottom: 20px;
}
.pb-9 {
  padding-bottom: 69px;
}
/* padding on left and right side*/
.px-1 {
  padding-right: 5px;
  padding-left: 5px;
}

.px-2 {
  padding-right: 10px;
  padding-left: 10px;
}

.px-3 {
  padding-right: 15px;
  padding-left: 15px;
}

.px-4 {
  padding-right: 20px;
  padding-left: 20px;
}
/* padding on top and bottom */

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Margin */
.m{
  margin: 0;
}
.m-1 {
  margin: 5px;
}
.m-2 {
  margin: 10px;
}
.m-3 {
  margin: 15px;
}
.m-4 {
  margin: 20px;
}

/*margin on left side*/
.ml-1 {
  margin-left: 5px;
}
.ml-2 {
  margin-left: 10px;
}
.ml-3 {
  margin-left: 15px;
}
.ml-4 {
  margin-left: 20px;
}
/*margin on right side*/
.mr-1 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}
.mr-4 {
  margin-right: 20px;
}

/* margin on top side*/
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}

/* margin on bottom side*/
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-5 {
  margin-bottom: 30px;
}
/* margin on left and right side*/
.mx-1 {
  margin-right: 5px;
  margin-left: 5px;
}

.mx-2 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx-3 {
  margin-right: 15px;
  margin-left: 15px;
}

.mx-4 {
  margin-right: 20px;
  margin-left: 20px;
}

/* margin on top and bottom */

.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Text color */
.text-grey{
  color: #858688;
}
.text-black{
  color: #1D1D1D;
}
.black-bg{
  background-color: black;
}
.bg-white{
  background-color: white;
}
.color-white{
  color: white;
}
.text-color{
  color: #7F82C5;
}
/* font-weight */
.font-weight-4{
  font-weight: 600;
}
.font-size-1{
  font-size: 30px;
}
.font-size-2{
  font-size: 60px;
}
.font-size-3{
  font-size: 50px;
}

.display {
  display: flex;
  min-height: 100vh; 
  margin: 0; 
  padding: 0;   
}

.left {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.image-layer {
  position: absolute;
  inset: 0;
  background-image: url("download.jpeg");
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.05);   
}

.img-text {
  position: relative;
  z-index: 1;
  padding: 100px 60px 60px 100px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.right {
  flex: 0.6; 
  padding-left: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}
.invese-left{
  padding-top: 30px;
}
.sale{
    font-size: 35px;
    margin-bottom: 10px;
    color: #1D1D1D;
}
.welcome{
    font-size: 35px;
    margin-bottom: 10px;
    color: #1D1D1D;
}

.right form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
}

.right input {
    border: none;
    border-bottom: 1px solid #000;
    padding: 8px 0;
    outline: none;
    font-size: 14px;
}

.right button {
    margin-top: 20px;
    padding: 12px 16px;
    font-size: 14px;
    border-radius: 10px;
    /* cursor: pointer; */
}
.right button a{
  text-decoration: none;
}
.btn-3{
    border: none;
}

.copy{
  padding-top: 100px;
    margin-top: 60px;
}
.res-copy{
    margin-top: auto;
}

